body {

  }

 .form-inline {
  display: inline;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 5px 10px 5px 0;
}

.form-inline input {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;

}

.form-inline button {
  padding: 8px 8px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.form-inline button:hover {
  background-color: royalblue;
}

@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
}

<!--table-->
table, th, td {
  border: 2px rounded black;


}
th, td {
  padding: 5px;
  text-align: left;
   border: 1px solid #dddddd;
}
h1 {
  position: relative;
  text-align: center;
}

table1{
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}
th, td {
  text-align: left;
  padding: 16px;
}

table2 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

table3 {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 16px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

#table1 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

#table2 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}

#table3 th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: green;
  color: white;
}
<!--table-->
.row mx-2{
  font-size: 50px;
}

#observation h2,a{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}
#encounter h2,a{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

#patient{
    display: inline;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
}

#main{

    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    line-height: 100px;
}

