<html lang="en">
<head>
    <link rel="icon" href="static/app/zsicon.png" type="png" sizes="16x16">
    <title>Error 404</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <div class="jumbotron">
        <h1 class="display-4">Page not found</h1>
        <p class="lead">Sorry, This request in invalid.</p>
        <hr class="my-4">
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="{% url 'home' %}" role="button">Go to home</a>
        </p>
    </div>
</head>