
<!DOCTYPE html>
<html lang="en">
<head><div class="col-sm-12">
    <div class="form-group">
        <div class="input-group"><span class="input-group-addon"><small>Name:</small></span><input type="text"
                                                                                                   class="form-control input-sm"
                                                                                                   placeholder="Search by name..."
                                                                                                   value=""></div>
    </div>
</div>
</head>
</html>